@page "/alunos"
@inject NavigationManager navigationManager
@inject IAlunoService alunoService

<div class="container">
    @if (AlunosPage == null)
    {
        <h3>Carregando lista de alunos...</h3>
    }
    else if (AlunosPage.Any())
    {
        <div class="row mt-3">
            @foreach (var aluno in AlunosPage)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        @aluno.Nome
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID: @aluno.Id</li>
                        <li class="list-group-item">Idade: @aluno.Idade</li>
                        <li class="list-group-item">Turma: @aluno.Turma</li>
                    </ul>
                </div>
            }
        </div>
    }
    else
    {
        <h3>Nenhum aluno encontrado.</h3>
    }
</div>

@code {
    public IEnumerable<AlunosDto> AlunosPage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAlunos();
    }

    private async Task LoadAlunos()
    {
        AlunosPage = await alunoService.GetAlunos();
    }

}
